@import "../../style/theme.scss";

.home {
  height: 100vh;
  width: 100vw;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease;
  position: relative;
  padding: 6.5rem 0;
}
.content {
  display: block;
  width: 1220px;
  text-align: center;
  margin: 40vh auto 0;
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
}

.tilter {
  padding: 10px;
  display: block;
}
.tilter * {
  pointer-events: none;
}
.tilterFigure {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease,
}
.tilterCaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 0.3s ease,
}

.anchor {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 2.16667rem 1.08333rem;
  &.dark a {
    color: $dark-color-text;
    &:after {
      background: $dark-color-text;
    }
  }
  &.light a {
    color: $light-color-text;
    &:after {
      background: $light-color-text;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 0;
      height: 4px;
      bottom: -0.5rem;
      right: 0;
      transition: all 0.3s ease;
    }
  }
  a:hover:after {
    width: 100%;
    left: 0;
  }
  a + a {
    margin-left: 3vw;
  }
}
