// light
$light-color-background: #fff;
$light-color-complement: #f5f5f5;
$light-color-text: #000;

// dark
$dark-color-background: #02000f;
$dark-color-complement: #1b2026;
$dark-color-text: #fff;

$path-fill-1: url(#gradient1);
$path-fill-2: url(#gradient2);
$path-fill-3: url(#gradient3);
