.navbar {
  height: 7.14rem;
  padding-top: 5.71rem;
  padding-right: 5.71rem;
  text-align: right;
  a {
    margin: 0 1.42rem;
    cursor: pointer;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding-right: 0;
    text-align: center;
  }
}
