@import "../../style/theme.scss";

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.content {
  margin: 0 auto;
  max-width: 760px;
  min-width: auto;
  padding: 16px 0 14px;
  text-align: center;
}

.content a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

.dark a {
  color: $dark-color-text;
  &:after {
    background: $dark-color-text;
  }
}
.light a {
  color: $light-color-text;
  &:after {
    background: $light-color-text;
  }
}
