@import "../style/theme.scss";

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: none;
}
.dark {
  background: $dark-color-background;
}

.light {
  background: $light-color-background;
}
